@if(_evolutionChain.Count() == 0)
{
    <LoadingWidget />
} else
{
    <div class="flex flex-row flex-wrap justify-center">
        @foreach (ChainLinkViewModel? model in _evolutionChain)
        {
            <div>
                <NavLink href="@(model?.Pokemon != null ? $"pokemon/{model.Pokemon!.Id}" : "#")">
                    <div class="bg-light dark:bg-dark rounded-sm shadow-inner p-2 m-2">
                        @if (model?.Pokemon is not null)
                        {
                            <img src="@(model.Pokemon.Sprites.OtherSprites.OfficialArtwork.FrontDefault)" alt="@(model.Pokemon.Name)" class="mx-auto" height="100" width="100" />
                        }
                        else
                        {
                            <p>We could not find this pokemon!</p>
                        }
                    </div>
                </NavLink>

                <div class="flex flex-row flex-wrap justify-center">
                    @if (model?.EvolutionDetails?.MinLevel is not null)
                    {
                        <p>Lvl @(model.EvolutionDetails.MinLevel)</p>
                    }
                    @if (model?.EvolutionDetails?.TimeOfDay == "day")
                    {
                        <SunIcon class="h-6 w-6"></SunIcon>
                    }
                    else if (model?.EvolutionDetails?.TimeOfDay == "night")
                    {
                        <MoonIcon class="h-6 w-6"></MoonIcon>
                    }
                    @if(model?.EvolutionDetails?.Gender == 1)
                    {
                        <img class="h-6 w-6" src="img/icons/female.svg"/>
                    }
                    else if (model?.EvolutionDetails?.Gender == 2)
                    {
                        <img class="h-6 w-6" src="img/icons/male.svg" />
                    }

                    @if (model?.EvolutionItem != null)
                    {
                        <img class="h-6 w-6" src="@(model!.EvolutionItem.Sprites.Default)"/>
                    }

                    @if (model?.EvolutionDetails?.MinHappiness is not null && model.EvolutionDetails.MinHappiness > 0)
                    {
                        <Blazor.Heroicons.Outline.FaceSmileIcon class="h-6 w-6" />
                    }
                </div>
            </div>
        }
    </div>
}