@inherits AbstractThemedComponent

<NavLink href="@("/pokemon/" + Pokemon.Id.ToString())">
    <div class="h-full w-full drop-shadow-lg bg-clip-padding backdrop-filter backdrop-blur-md p-2 @Classes">
        <div class="bg-gray-300 dark:bg-gray-600 shadow-inner">
            <img src="@(Pokemon.Sprites.OtherSprites.OfficialArtwork.FrontDefault)" alt="@(Pokemon.Name)" class="mx-auto" height="300" width="300" />
        </div>

        <p class="text-left rounded-full text-sm antialiased">#@(Pokemon.Id.ToString().PadLeft(4, '0'))</p>
        <h2 class="block font-semibold text-center text-lg capitalize antialiased">@(Pokemon.Name)</h2>

        <div class="grid grid-cols-1 md:grid-cols-2 gap-2">
            @foreach (var type in Pokemon.Types.OrderBy(t => t.Slot))
            {
                <div>
                    <TypeTag Type="@(type.Type.Name)">
                        @(type.Type.Name)
                    </TypeTag>
                </div>
            }
        </div>
    </div>
</NavLink>