@page "/pokedex/{nameOrId}"
@using Blazor.Models.Pokedex;
@using Blazor.Shared.Components
@using Blazor.Services.Pokedex
@using Blazor.Shared.Pokedex
@using System.Text.Json;

@inject IPokeAPIService PokeAPIService
@inject ILogger<ShowPokemon> Logger

@if(LoadedPokemon is not null)
{
    <div class="h-96 bg-@(LoadedPokemon.Types[0].Type.Name) grid grid-cols-1 md:grid-cols-3 gap-2">
        <div>

        </div>
        <div class="font-bold p-2">
            <div class="py-4 flex flex-col content-center justify-center">
                <h1 class="text-light font-bold capitalize text-5xl text-center">@LoadedPokemon.Name</h1>
            </div>
            <div class="bg-light rounded border border-primary p-2">
                <p>
                    @LoadedPokemon.Species.FlavorTextEntries.Where(x => x.Language.Name == "en").FirstOrDefault()?.FlavorText
                </p>
                <div class="flex justify-end">
                    @foreach (var type in LoadedPokemon.Types)
                    {
                        <TypeTag Type="@type.Type"></TypeTag>
                    }
                </div>
            </div>
        </div>

        <div class="flex justify-center p-2">
            <img class="h-96" src="@LoadedPokemon.Sprites.Other.OfficialArtwork.FrontDefault"/>
        </div>

        @* Evo chain Pane *@
        <div>
            <h1 class="text-lg">Evolution Tree</h1>
            <div class="flex bg-slate-200 rounded shadow p-2">
                <Blazor.Shared.Pokedex.Evolution.ShowEvolutionTree Chain="LoadedPokemon.Species.EvolutionChain.Chain"></Blazor.Shared.Pokedex.Evolution.ShowEvolutionTree>
            </div>
        </div>

        @* Forms Pane *@
        <div>
            <h1 class="text-lg">Varieties</h1>
            <div class="flex bg-slate-200 rounded shadow p-2 gap-2">
                @foreach (Variety variety in LoadedPokemon.Species.Varieties)
                {
                    @if (@variety.Pokemon.Sprites.FrontDefault != null)
                    {
                        <div>
                            <img class="h-[96px]" src="@variety.Pokemon.Sprites.FrontDefault" />
                            <p class="capitalize font-bold">@variety.Pokemon.Name</p>
                        </div>
                    }
                }
            </div>
        </div>

        @* Moves Pane *@
        <div>
            <h1 class="text-lg">Moves</h1>
            <div class="bg-slate-200 rounded shadow p-2 max-h-96 overflow-y-auto">
                <Blazor.Shared.Pokedex.Moves.MovesPane Pokemon="@LoadedPokemon"></Blazor.Shared.Pokedex.Moves.MovesPane>
            </div>
        </div>
    </div>
}

@code {
    [Parameter]
    public string NameOrId { get; set; }

    private Pokemon LoadedPokemon { get; set; }

    protected override async Task OnInitializedAsync()
    {
        LoadedPokemon = await PokeAPIService.GetPokemonAsync(NameOrId);
        await LoadedPokemon.Species.Hydrate(PokeAPIService);
        foreach (Variety variety in LoadedPokemon.Species.Varieties)
        {
            await variety.Pokemon.Hydrate(PokeAPIService);
        }

        await LoadedPokemon.Species.EvolutionChain.Hydrate(PokeAPIService);

        // Issue here is we want to traverse the tree in the code above but its just a list of urls
        // we need to go through the whole tree and call await x.Hydrate()
        // single threaded due to wasm
        await HydrateEvolutionTree(LoadedPokemon.Species.EvolutionChain.Chain);

        foreach(var x in LoadedPokemon.Moves)
        {
            await x.MoveDetails.Hydrate(PokeAPIService);
        }
    }

    protected override async Task OnAfterRenderAsync(bool isFirstRender)
    {
        if (!isFirstRender)
            return;
    }

    public async Task HydrateEvolutionTree(Chain chain)
    {
        if (chain is null)
            return;

        await chain.Species.Hydrate(PokeAPIService);

        foreach(Variety variety in chain.Species.Varieties)
        {
            await variety.Pokemon.Hydrate(PokeAPIService);
        }

        foreach (Chain c in chain.EvolvesTo)
        {
            await HydrateEvolutionTree(c);
        }
    }
}
